@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.left-content {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.left-content p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.orange {
    
    font-size: xx-large;
    color: #fa5e25;
    font-family: 'Orbitron', sans-serif;
}

.right-content {
    margin: 40px;
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(214, 213, 213, 0.92);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

input::placeholder{
    color: white;
    font-family: 'Orbitron', sans-serif;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
}


.operator{
    color: rgb(247, 250, 247);
    background-color: #717377;
}